/*
    App:       Tracertly
    Developer: Aurthur Musendame
    Email:     aurthurmusendame@gmail.com
    Phone:     +263776406399
    ::::::     :::::::::::::::::::::::::::::::::::::::::::::::: 01-06-2018
    Git :      www.github.com/aurthurm/Tracertly.git
*/


/* 
    ::::::::::::::::::::::::: Base Styles
 */

 html,
 body {
    background-image: url('../img/bg/leather.png');
    background-attachment: fixed;
}

a:hover {
    text-decoration: none;
}

.dropdown-menu {
    margin-top: -1px;
    left: -30px;
}

.top-spacer {
    margin-top: 8%;
}

/* 
    ::::::::::::::::::::::::: Colors
 */

.sidenav,
.bg-dark,
a.dropdown-item:hover {
    background-color: #303C6C !important;
} 

.bg-dark {
    padding: 0 1rem;
}

 .board-color {
    background-color: #F4976C !important;
}

.text-logout {
    color: #F4976C !important;   
}

.sidenav a,
a.add-color,
a.add-color:hover,
.board-color > .card-title > .card-link {
    color: #303C6C !important;
}

a.link-transition:hover {
    padding-left: 30px !important;
    transition: 0.5s;
}

 .listing-color {
    background-color: #FBE8A6 !important;
}

.item-color {
    background-color: #303C6C !important;
    /* opacity: 0.8; */
    padding-left: 0.5%;
}

.nav-link:hover {
    border-top: 1px solid #d2fdff;
    margin-bottom: -1px;
    padding-top: 7px;
}

a#navbarDropdown:hover {
    padding-top: 6px;
}

.bg-dark a,
.item-color,
.user-names {
    color: #FFFFFF !important;
}

.nav-link {
    font-weight: 500;
}

.nav-link:hover,
.cardTextMore a svg {
    color: #D2FDFF !important;
}

a#navbarDropdown,
.bg-dark a.navbar-brand {
    color: #FBE8A6 !important;
}

.add-color {
    background-color: #B4DFE5 !important;
}

.bg-white,
a.add-color {
    padding: 1% 2%;
}


 /* 
    ::::::::::::::::::::::::: Main Navigation
 */

 .user-names {
    font-weight: 900 !important;
    margin-bottom: -1px;
}

  /* 
    ::::::::::::::::::::::::: Off Canvas Menu
 */
.sidenav {
    height: 100%; 
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 40px !important;
    transition: 0.5s; 
}

.sidenav a {
    text-decoration: none;
    transition: 0.3s;
}

.sidenav a.closebtn,
.sidenav a.closebtn:hover {
    color: rgb(255,0,0) !important;
}

.sidenav a b,
.sidenav a b:hover {
    color: rgb(0,0,0) !important;
}


#main {
    transition: margin-left .5s;
    margin-top: 50px;
    margin-left: 0;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
} 

/* 
    ::::::::::::::::::::::::: Cards
*/

.card-body {
    padding: .25rem;
 }

.card-text .cardTextMore {
    float: right;
 }

 /* 
    ::::::::::::::::::::::::: Fontawesome
*/


 .faSize-bg {
     float: right;
     font-size: 1.25rem
 }

/* 
    ::::::::::::::::::::::::: Modals
*/

.modal-body {
    padding: 5% 20%;
}

#login-modal {
    margin-top: 8%;
}

.middle-page {
    margin-top: 15%;
}
