
{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-10 offset-2 text-center text-info">                
                <h2>User Registration</h2>
                <hr>
                <p class="lead bg-white">Fill in the form below to create your profile with Tracertly</p>
                <hr>
            </div>
            <div class="col-8 offset-3 pl-5 pt-5 bg-white">
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group row">
                        <label for="staticEmail" class="col-2 col-form-label">{{ field.label_tag }}</label>
                        <div class="col-10">
                            {{ field }}
                            {% for error in field.errors %}
                                <div class="alert alert-danger" role="alert">                            
                                    <p>{{ error }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                    <div class="form-group row">
                        <div class="col-10 offset-2">
                            <button type="submit" class="btn btn-primary">Sign Up</button>
                        </div>
                    </div>
                </form>                
            </div>
        </div>
    </div>


{% endblock %}
