{% extends 'base.html' %}

{% block content %}

<div class="modal fade middle-page" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              log In  <i class="fa fa-unlock-alt" aria-hidden="true"></i>
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
      </div>
          <div class="modal-body">
              {% if form.errors %}
                  <div class="alert alert-danger error" role="alert">
                      <span class="fa fa-exclamation-sign" aria-hidden="true"></span>
                      <span class="sr-only">Error:</span>
                      Bammer! Invalid username or password
                  </div>
              {% endif %}
                <form action="{% url 'login' %}" class="form-horizontal" method = "post">
                    {% csrf_token %}
                    <div class="form-group row">
                        <div class="col-sm-4">{{ form.username.label_tag }}</div>
                        <div class="col-sm-8">
                            {{ form.username }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4">{{ form.password.label_tag }}</div>
                        <div class="col-sm-8">
                            {{ form.password }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-4 col-sm-8">
                            <input class = "btn btn-primary" type="submit" value="login" />
                            <input type="hidden" name="next" value="{{ next }}" />
                        </div>
                    </div>
                </form>
          </div>
      <div class="modal-footer"> 
        <a href="{% url 'users:create-user' %}">Register</a>
      </div>
    </div>
  </div>
</div>

    <div class="container row">
      <div class="middle-page col-6 offset-5 center">
        <h4  style="padding-top: 20%;">
          Please <a data-toggle="modal" data-target="#login-modal" style="color: rgb(0,0,255); padding:0.25rem;">login</a> to access Tracertly
        </h4>
      </div>
    </div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" >
        $(document).ready(function() {
            $('#id_username').val('aurthur');
            $('#id_password').val('ceam2014');
        });
    </script>
{% endblock %}



