 
 <!-- Board -->	
    <div class="card">
        <div class="card-body {{ colorStyle }}">
            <h5 class="card-title"> 
                <a href="{{ the_url }}" class="card-link text-center">{{ object.name }}</a>
            </h5>
            <hr>
            <div class="card-body bg-white">
                <p class="card-text">
                    {{ object.description }}
                    <span class="cardTextMore">
                        <a href="#">
                            <i class="far fa-edit"></i>
                        </a>
                    </span>
                </p>
            </div>
            <hr>		   
        </div>
    </div>
<!-- / Board -->