
<div class="tab-pane fade show active" id="nav-discusions" role="tabpanel" aria-labelledby="nav-home-tab">
    <div class="card-columns">
        {% for discussion in discusions %}	
            <!-- Board -->	
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> 
                        <a href="" class="card-link text-center"></a>
                    </h5>
                    <hr>
                      <div class="card-body">
                        <p class="card-text">
                            {{ board.description }}
                            <span class="cardTextMore">
                                <a href="#">
                                    <i class="far fa-edit"></i>
                                </a>
                            </span>
                        </p>
                    </div>
                    <hr>		   
                </div>
            </div>
            <!-- / Board -->
        {% endfor %}
    </div>
</div>