
{% extends 'base.html' %}

{% block content %}

 <div class="container">
     <br>
    <h3>Your Profile</h3>
    <hr>
     <div class="row bg-white space-around">
            <!-- profile info -->
         <div class="col-8">
            <div class="row">
                <div class="col-2 text-bold">
                    Full Name:
                </div>
                <div class="col-10">
                  {% if profile.user.first_name %}  
                    {{ profile.user.first_name }} {{ profile.user.last_name }} 
                  {% else %} 
                  <p class="text-warning">
                        No Name. To Update, Contact System Administrator
                  </p>                    
                   {% endif %}
                    <hr>
                </div>
                <div class="col-2 text-bold">
                    Contact 
                    <small class="text-muted text-tiny">(Cell/Phone)</small>
                </div>
                <div class="col-10">
                    {% if profile.phone %}                       
                     {{ profile.phone }}
                    {% else %} 
                    <p class="text-warning">
                          No Contact iformation. Update <a href="{% url 'users:update-profile' user_id=profile.user.pk profile_id=profile.pk %}">here</a>
                    </p>                    
                     {% endif %}
                    <hr>
                </div>
                <div class="col-2 text-bold">
                    Title
                </div>
                <div class="col-10">
                        {% if profile.title %}                       
                         {{ profile.title }}
                        {% else %} 
                        <p class="text-warning">
                              No Title, Who are you?. Update <a href="{% url 'users:update-profile' user_id=profile.user.pk profile_id=profile.pk %}">here</a>
                        </p>                    
                         {% endif %}
                    <hr>
                </div>
                <div class="col-2 text-bold">
                    My Teams
                </div>
                <div class="col-10">
                    {% for team in profile.teams.all %}
                        {{ team }},
                    {% empty %}
                        You do not belong to any team yet
                    {% endfor %}
                    <hr>
                </div>
                <div class="col-2 text-bold">
                    Section
                </div>
                <div class="col-10">
                    {{ profile.section }}
                    <hr>
                </div>
                <div class="col-2 text-bold">
                    Status
                </div>
                <div class="col-10">
                    {{ profile.status }}
                    <hr>
                </div>
                <div class="col-2 text-bold">
                    About Me
                </div>
                <div class="col-10">
                    {{ profile.about }}
                    <hr>
                </div>                    
            </div>
         </div> <!-- / profile info -->
         
        <!-- profile badges -->
         <div class="col-4">
            Badged and other info will be here
         </div> <!-- / profile badges -->
     </div>
 </div>

{% endblock %}