{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tracertly</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/bootstrap.min.css' %}">    <!-- faontawesome js-->
    <script src="{% static 'fontawesome/js/fontawesome-all.js' %}"></script>
    <link rel="stylesheet" href="{% static 'fontawesome/css/fa-svg-with-js.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/tracertly.css' %}">
</head>
<body>
    <div id="main-wrapper">

        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <a class="navbar-brand" href="#" onclick="openNav()">Tracertly</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
              </li>
            </ul>
           <ul class=" navbar-nav my-2 my-lg-0">
               {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @{{ user.username }} 
                        </a>
                        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                            {% if not user.user_profile %}
                                <a class="dropdown-item link-transition" href="{% url 'users:create-profile' %}">Create Profile</a>
                            {% else %}
                                <a class="dropdown-item link-transition" href="{% url 'users:profile-detail' user_id=user.pk profile_id=user.user_profile.pk %}">Profile</a>
                            {% endif %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-logout" href="{% url 'logout' %}">
                                Sign Out
                                <span class="fa fa-lock" aria-hidden="true"></span> 
                            </a>
                        </div>
                    </li>
                {% else %}
                    <li class="user-names nav-item"><a class="nav-link" href="{% url 'login' %}"><span class="fa fa-unlock-alt" aria-hidden="true"></span> Log In</a></li>
                {% endif %}
           </ul>
          </div>
        </nav>
        

        <div class="wrapper">
            <nav id="sideBarNav" class="sidenav">
                <ul class="list-group">
                    <a  href="#" class="list-group-item d-flex justify-content-center align-items-center ">
                        <b>DASHBOARD</b>
                    </a>
                    <a  href="{% url 'home' %}" class="list-group-item d-flex justify-content-between align-items-center link-transition">
                        Public Boards
                        <!-- <span class="badge badge-dark badge-pill">9</span></a> -->
                    </a>
                    {% if user.is_authenticated %}
                        <a  href="{% url 'boards:user-boards' user_id=user.pk %}" class="list-group-item d-flex justify-content-between align-items-center link-transition">
                        My Boards
                        <!-- <span class="badge badge-dark badge-pill">9</span></a> -->
                    </a>
                    {% endif %}
                    <a  href="{% url 'divisions:team-list' %}" class="list-group-item d-flex justify-content-between align-items-center link-transition">
                        Teams
                        <!-- <span class="badge badge-dark badge-pill">5</span> -->
                    </a>
                    <a  href="{% url 'divisions:section-list' %}" class="list-group-item d-flex justify-content-between align-items-center link-transition">
                        Sections
                        <!-- <span class="badge badge-dark badge-pill">5</span> -->
                    </a>
                    <a  href="#" class="list-group-item d-flex justify-content-between align-items-center link-transition">
                        Messages
                        <!-- <span class="badge badge-dark badge-pill">14</span> -->
                    </a>
                    <a  href="#" class="list-group-item d-flex justify-content-between align-items-center link-transition">
                        Howdy
                        <!-- see what others are doing  -->
                        <!-- <span class="badge badge-dark badge-pill">5</span> -->
                    </a>
                    <a  href="javascript:void(0)" class="list-group-item d-flex justify-content-center align-items-center closebtn" onclick="closeNav()">
                    <<- X </a>
                </ul>
            </nav>

            <main role="main" id="main" class="container-fluid">
                
                {% block content %}

                {% endblock %}

            </main>

        </div>
        
    </div>
    <footer class="tracertly-footer  text-center">
        Tracertly &copy 2018
    </footer>

    <!-- jQuery -->
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>
    <!-- tracertly js -->
    <script src="{% static 'js/vue.min.js' %}"></script>
    <script src="{% static 'js/axios.min.js' %}"></script>
    <script src="{% static 'js/tracertly.js' %}"></script>
    {% block scripts %} {% endblock %}
</body>
</html>