{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col-6 offset-3 bg-white">
            <h3>{{ formTitle }}</h3>
            <hr>
        
            <br>
            <form method="POST" class="form-horizontal post-form" id="editBase">
                {% csrf_token %}
                <p class="availableMessage" hidden="hidden"></p>
                {% for field in form %}
                    <div class="form-group">
                        <div class="row">
                            {{ field.errors }}
                            <div class="col-2">
                                {% if field.is_hidden %}
                                {# Hide Label #}
                                {% else %}
                                {{ field.label_tag }}
                                {% endif %}
                            </div>
                            <div class="col-10">
                                {{ field }}
                            </div>
                            {% if field.help_text %}
                                <p class="help">{{ field.help_text|safe }}</p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                <div class="form-group">
                    <div class="row">
                        <div class="col-10 offset-2 ">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </form>
       </div>
    </div>
{% endblock %}