// Include all of Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

//Variables
$black: #333333;
$gray: #CCCCCC;
$white: #FFFFFF;
$green: #99CC66;
$blue: #6699CC;

body {
	background: $white;
	.faSize-bg {
		float: right;	
		font-size: 1.25rem;
	}
	.main-header {
		nav {
			border-bottom: 1px solid $gray;
			margin-bottom: 2rem;
			.nav-item.nav-link {
				color: $black;
				font-size: 0.925rem;
			}
			.navbar-brand{
				font-weight: 900;
				color: $blue !important;
			}

			.navbar-toggler.navbar-toggler-right {
			    height: 41px;
			    width: 41px;
			    border-radius: 100%;
			    background: black;
			    padding-left: -10px;
				.navbar-toggler-icon {
				    background: red;
				    height: 30px;
				    width: 30px;
				    border-radius: 100%;
				    border: 2px solid white;
				    margin-left: -7px;
				}
			}
		}
	} // End .main-header
	.sideBarNav {
	} // End .showCaseSlider
	.main-content {
		.card-columns {
    		column-count: 3;
			.card {
				background: #EBEBEB !important;
				.card-body {
					padding: 0.25rem;
					.card-text {
						background: #fff;
						padding: 0.25em;
						.cardTextMore {
							// display: inline-grid;
							float: right;
							background: #ccc;
							padding: .25em;
						}
					}						
				}
			}
		}

	} //End .main-body
} //End body


