{% extends 'base.html' %}

{% block content %}
	<div class="container">
		<h2>{{ its_a }}: {{ object_detail.name }}</h2>
		<hr>
		<div class="card-body bg-white">
			<p class="card-text">
				{{ object_detail.description }}
			</p>
		</div>
		<hr>
			<nav style="margin-bottom: 2rem;">
				<div class="nav nav-tabs" id="nav-tab" role="tablist">
					<a class="nav-item nav-link disabled" id="nav-home-tab" data-toggle="tab" href="#nav-discusions" role="tab" aria-controls="nav-home" aria-selected="true">Discussions</a>
					<a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" href="#nav-boards" role="tab" aria-controls="nav-profile" aria-selected="false">Our Boards</a>
					{% if not is_a_Team %}
					<!-- A team has no teams -->
					<a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-teams" role="tab" aria-controls="nav-profile" aria-selected="false">Our Teams</a>
					{% endif %}
				</div>
			</nav>
			<div class="tab-content" id="nav-tabContent">
				<!-- Discusions -->				
				<div class="tab-pane fade show disbled" id="nav-discusions" role="tabpanel" aria-labelledby="nav-home-tab">
					<div class="card-columns">
						{% for object in object_detail.discusions.all %}
							{% include './includes/board.html' %}	
						{% empty %}
							There are no ongoing discusions in this {{ its_a }}
						{% endfor %}
					</div>
				</div>
				<!-- Boards -->					
				<div class="tab-pane fade show  active" id="nav-boards" role="tabpanel" aria-labelledby="nav-boards-tab">
					<div class="card-columns">	
						<!-- get boards belonging to this Section using .boards.all direct manager -->
						{% if not is_a_Team %}						
							{% for object in object_detail.boards.all %}
								{% url 'boards:board-detail' board_id=object.pk as the_url %}
								{% include './includes/board.html' with the_url=the_url colorStyle='board-color' %}	
							{% empty %}
									There are no Boards in this {{ its_a }}
							{% endfor %}
						<!-- get boards belonging to this Team using .board_sections.all reverse manager -->
						{% else %}
							{% for object in object_detail.boards.all %}
								{% url 'boards:board-detail' board_id=object.pk as the_url %}
								{% include './includes/board.html' with the_url=the_url colorStyle='board-color' %}	
							{% empty %}
									There are no Boards in this {{ its_a }}
							{% endfor %}
						{% endif %}
					</div>
				</div>		
				{% if not is_a_Team %}		
				<!-- Teams : only in boards-->				
					<div class="tab-pane fade show" id="nav-teams" role="tabpanel" aria-labelledby="nav-teams-tab">
						<div class="card-columns">
							<!-- Get teams belonging to this Section using .teams.all -->
							{% for object in object_detail.teams.all %}
								{% url 'divisions:team-detail' team_id=object.pk as the_url %}
								{% include './includes/board.html' with the_url=the_url colorStyle='team-color' %}	
							{% empty %}
								There are no Teams in this {{ its_a }}	
							{% endfor %}							
						</div>
					</div>	
				{% endif %}			
			</div>
	</div>
{% endblock %}