{% extends 'base.html' %}

{% block content %}
	<div class="container">
		<h2>{{ its_a }}: {{ object_detail.name }}</h2>
		<hr>
		<div class="card-body bg-white">
			<p class="card-text">
				{{ object_detail.description }}
			</p>
		</div>
		<hr>
			<nav style="margin-bottom: 2rem;">
				<div class="nav nav-tabs" id="nav-tab" role="tablist">
					<a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-discusions" role="tab" aria-controls="nav-home" aria-selected="true">Discussions</a>
					<a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-boards" role="tab" aria-controls="nav-profile" aria-selected="false">Our Boards</a>
					<a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-teams" role="tab" aria-controls="nav-profile" aria-selected="false">Our Teams</a>
				</div>
			</nav>
			<div class="tab-content" id="nav-tabContent">
				<!-- Discusions -->
				{% include './includes/section-detail-discusions.html' %}
				<!-- Boards -->				
				{% include './includes/section-detail-boards.html' %}
				<!-- Teams -->				
				{% include './includes/section-detail-teams.html' %}
			</div>
	</div>
{% endblock %}