{% extends 'base.html' %}

{% block content %}
	<h3>{{ header }}</h3>
	<p class="lead text-muted">{{ sub_header }}</p>
	<hr>
	<div class="card-columns">
		{% for section in object_list %}	
			<!-- Board -->	
			<div class="card">
				<div class="card-body">
				    <h5 class="card-title"> 
				    	<a href="{% url 'divisions:section-detail' pk=section.pk %}" class="card-link text-center">{{ section.name }}</a>
				    </h5>
				  <hr>
					  <div class="card-body">
					    <p class="card-text">
					    	{{ board.description }}
					    	<span class="cardTextMore">
					    		<a href="#">
					    			<i class="far fa-edit"></i>
					    		</a>
					    	</span>
					    </p>
					</div>
					<hr>		   
				</div>
			</div>
			<!-- / Board -->
		{% endfor %}
	</div>
	
{% endblock %}