{% extends 'base.html' %}

{% block content %}	
	<div class="row">
		<div class="col-8">				
			<h3>{{ header }}</h3>
		</div>
		<div class="col-3"> 
			{% block create_link %}
				<a class="float-right add-color" href="{% url 'divisions:section-add' %}">
					Add Section	
				</a>
			{% endblock %}
		</div>
	</div>
	<hr>
	<p class="lead text-muted bg-white">{{ sub_header }}</p>
	<hr>
	<div class="card-columns">
		{% for section_or_team in object_list %}	
			<!-- Board -->	
			<div class="card">
				<div class="card-body {{ colorStyle }}">
				    <h5 class="card-title"> 
						{% block section_or_team_link %}
							<a href="{% url 'divisions:section-detail' section_id=section_or_team.pk %}" class="card-link text-center text-black">{{ section_or_team.name }}</a>
						{% endblock %}
				    </h5>
				  <hr>
					  <div class="card-body bg-white">
					    <p class="card-text">
					    	{{ section_or_team.description }}
					    	<span class="cardTextMore">
					    		<a href="#">
					    			<i class="far fa-edit"></i>
					    		</a>
					    	</span>
					    </p>
					</div>
					<hr>		   
				</div>
			</div>
			<!-- / Board -->
		{% endfor %}
	</div>
	
{% endblock %}